*{
	font-family: 'Cousine', monospace;
	text-align: center;
	color: #F1F1F1;
	background-color: #333;
}
.container{
	margin:0 auto;
	width: 400px;
}
#input{
	font-size: .95em;
	width: 80%;
	height: 3em;
}
#submit{
	font-size: .95em;
	margin-top: -2px;
	width: 20%;
	height: 3em;
}
.examples{
	font-size: .8em;
}